
.full-page {
  display: flex;
  flex-flow: column wrap;
}

.site-background {
  background-image: url("scavenger_hunt_background.png");
}

.header {
  background: #5d5179;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  height: 200px;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  text-align: center;
  width: 600px;
}

.description {
  background: #92b9dd;
  border: 1px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  height: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-style: italic;
  left: 103px;
  margin: auto;
  padding: 20px;
  top: 500px;
  text-align: center;
  width: 600px;
}

.filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.category {
  display: flex;
  flex-direction: column;
}

.category-label {
  background: #92b9dd;
  border: 1px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  height: 100px;
  margin-left: 4%;
  padding: 30px;
  text-align: center;
  top: 444px;
  width: 300px;
}

.category-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.filter {
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  height: 60px;
  left: 90px;
  margin-left: 4%;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  width: 150px;
}

.unclicked-filter {
  background-color: #5d5179;
}

.clicked-filter {
  background-color: #571f4e;
}

.go-button {
  background-color: #4f759b;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  margin: 4px 10px;
  padding: 20px 40px;
  text-align: center;
  transition-duration: 0.4s;
}

.error-message {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
}

.hide {
  display: none;
}
