h1 {
  color: white;
  font-size: 60px;
}

p {
  font-size: 15px;
  color: white;
}

.title-block,
.map-container,
#submit-container,
.hint-row,
.text-block {
  background-color: #5d5179;
  border: 2px solid white;
  border-radius: 12px;
  margin: 20px auto;
}

.title-block {
  padding: 0 20px 0;
  text-align: center;
}

.map-container {
  padding: 30px;
  text-align: center;
}

#submit-container {
  padding: 10px;
  text-align: center;
}

.hint-row {
  padding: 10px;
  width: 60%;
}

.hint-row p {
  font-size: 20px;
}

.text-block {
  text-align: center;
  padding: 20px;
  width: 60%;
}

.invisible {
  display: none;
}

.content,
.submit-block {
  display: flex;
  justify-content: center;
}

button {
  font-size: 20px;
}

.content {
  flex-direction: column;
}

.submit-block {
  flex-direction: row;
  padding: 10px 0 10px 20px;
}

.center-text {
  color: white;
  text-align: center;
}

.button-row {
  display: inline-block;
}

.riddle-row,
.generate-row,
.button-row {
  margin: 0 auto;
  position: relative;
}

.generate-row p {
  font-size: 22px;
}

.footer {
  bottom: 30px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

#map-area {
  border: thin solid black;
  height: 500px;
  width: 500px;
}

#progress-area {
  background-color: #dcccbb;
}

#progress-bar {
  background-color: #b80c09;
  height: 30px;
  width: 1%;
}

#riddle-area p {
  font-size: 25px;
  font-weight: bold;
}

#submit-loader {
  animation: spin 2s linear infinite;
  border: 10px solid #dcccbb;
  border-radius: 50%;
  border-top: 10px solid #b80c09;
  height: 15px;
  margin: auto 10px;
  width: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
