.invisible {
  display: none;
}

.content,
.map-container,
.progress-container,
.submit-block {
  display: flex;
  justify-content: center;
}

p {
  font-size: 14px;
}

.content {
  flex-direction: column;
}

.submit-block {
  flex-direction: row;
  padding-top: 10px;
}

.center-text {
  text-align: center;
}

.riddle-row {
  top: 30%;
}

.button-row {
  top: 50%;
}

.hint-row {
  border: 1px solid black;
  margin: 10%;
  padding-left: 10px;
  padding-right: 10px;
}

button,
#submit-button {
  background-color: #e1f0c4;
  border: 2px solid #413c58;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  transition-duration: 0.4s;
}

button:hover,
#submit-button:hover {
  background-color: #413c58;
  color: white;
}

a {
  color: #413c58;
  text-decoration: none;
}

button:hover a {
  color: white;
}

.text-block {
  -ms-transform: translate(-50%, -50%);
  background-color: #b47eb3;
  border-radius: 10px;
  bottom: 10px;
  height: 40%;
  left: 50%;
  margin-bottom: 0%;
  margin-top: 20%;
  padding-left: 100px;
  padding-top: 300px;
  position: relative;
  transform: translate(-50%, -50%);
  width: 70%;
}

.text-block .center-block {
  -ms-transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.footer {
  bottom: 30px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

#map-area {
  border: thin solid black;
  height: 500px;
  width: 70%;
}

#progress-area {
  background-color: grey;
  width: 70%;
}

#progress-bar {
  background-color: #e1f0c4;
  height: 30px;
  width: 1%;
}

#riddle-area p {
  font-size: 22px;
  font-weight: bold;
}
